@page
@using Microsoft.Extensions.Localization
@using test2.Localization
@using test2.Web.Pages.test2
@model test2.Web.Pages.test2.IndexModel
@inject IStringLocalizer<test2Resource> L

@{
}
<h1>test2</h1>
<p>@L["SamplePageMessage"]</p>
